body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	color: black;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}

section {
	padding-top: 113px	
}

p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.header {
	background: url('../img/Sneakers.jpg') no-repeat center top / cover;
	padding-top: 57px;
	color: #fff;
	padding-bottom: 322px
}

header a {
	color: #fff;
}

.logo {
	margin-right: 69px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.menu {
	display: flex;
}

.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu li {
	margin-right: 40px;
}

.tel {
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}

.nav {
	display: flex;
	align-items: center;
}

.offer {
	text-transform: uppercase;
	margin-top: 150px;
}

.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;
}

.offer h1 {
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em
}

.btn {
	display: block;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px;
	border: 1px solid #fff;
	width: 238px;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #fff;
    color: #000;
}

.description {
	display: flex;
	justify-content: space-between;
}

.description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}

.desc-left, .desc-right {
	width: 567px;
}

.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}

.gallery img {
	transition: all 0.5s ease;
}

.gallery img:hover {
	box-shadow: 0 20px 40px rgba(0,0,0,0.3);
	transform: scale(1.1);
}

.footer-text {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	padding-top: 114px;
    padding-bottom: 40px;
}

.footer-text p {
	margin-right: 67px;
}

.Sneakers1 {
    width: 270px;
    height: 344px;
}
.Sneakers2 {
    width: 270px;
    height: 344px;
}
.Sneakers3 {
    width: 570px;
    height: 344px;
}
.contact-down {
    display: flex;
    width: 54px;
    height: 54px;
    text-decoration: none;
    list-style-type: none;
    font-size: 0px;
    margin-left: 700px;
    margin-top: -27px;
}
.img-down {
    width: 54px;
    height: 54px;
}